

div.view-results {
  max-width: 920px;
  min-height: 376px;
  overflow: hidden;
  text-align: center;
}

div.strip {
  position: absolute;
  margin-top: 20px;
  width: 240px;
  height: 57px;
  background-color: rgba(79, 79, 79, 0.5);
}

div.strip.bottom-strip {
  bottom: 20px;
}

p.caption {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 15px 0px;
  max-width: 240px;
  max-height: 27px;
  text-align: center;
  overflow: hidden;
  cursor: text;
}