

div.card-song {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 68px 33px;
  cursor: pointer;
  float: left;
}

div.card-song img:hover {
  filter: none;
}

div.card-song img {
  float: left;
  background-color: #fff;
  filter: blur(2px);
  width: 240px;
  height: 240px;
}

.card-song:nth-child(n+4) {
  margin: 0px 33px 68px 33px;
}