

div.search-bar {
  position: relative;
  width: 470px;
  height: 104px;
  margin: 0px auto;
}

div.search-bar input[name="search"] {
  display: block;
  position: absolute;
  width: 271px;
  height: 70px;
  background: #FFFFFF;
  border: none;
  margin: 0px;
  top: 18px;
  padding: 0px;
  padding-left: 25px;
  padding-right: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  color: #4F4F4F;
}

span.btn-search {
  position: absolute;
  width: 64px;
  height: 43px;
  display: block;
  margin-left: 296px;
  cursor: pointer;
  margin-top: 31px;
  background: url('./img/music-player.svg') no-repeat;
}


div.msg-notify {
  position: absolute;
  left: -225px;
  top: 260px;
  width: 860px;
  height: 83px;
  text-align: center;
  color: #ffffff;
  z-index: 9999;
  background-color: #1d1d1db3;
  padding: 0px 30px;
}


div.animation-loader {
  position: absolute;
  display: block;
  z-index: 1;
  width: 920px;
  height: 640px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  right: -225px;
  background-color: #1d1d1d8c;
}

span.btn-view-limit {
  top: 18px;
  padding: 0px 18px;
  cursor: pointer;
  background-color: #fff;
  border: 5px solid #797979;
  right: 0px;
  font-size: 52px;
  font-weight: 500;
  color: #2e2d2d;
  position: absolute;
}

#offset-right {
  position: absolute;
  right: -170px;
  float: right;
  font-size: 91px;
  color: #fff;
  cursor: pointer;
}

#offset-left {
  position: absolute;
  left: -170px;
  float: left;
  font-size: 91px;
  color: #fff;
  cursor: pointer;
}